[submodule "sf-academy-exchange-microservice"]
	path = sf-academy-exchange-microservice
	url = https://github.com/ZhouJian26/sf-academy-exchange-microservice.git
[submodule "sf-academy-api"]
	path = sf-academy-api
	url = https://github.com/ZhouJian26/sf-academy-api.git
[submodule "sf-academy-user-db"]
	path = sf-academy-user-db
	url = https://github.com/ZhouJian26/sf-academy-user-db.git
[submodule "sf-academy-user-microservice"]
	path = sf-academy-user-microservice
	url = https://github.com/ZhouJian26/sf-academy-user-microservice.git
